body{
    padding: 0 2em;
    color:gray;
}

.border {
    border-bottom: 2px solid #000; 
    margin: 5% 0; 
}
.main{
    display: flex;
}
.main > div {
    flex: 1 1 0px;
}

.info{
    align-self: center;
}

.para{
    font-size: 17px;
    color: gray;
    font-style: oblique;
    font-weight: bold;
}

li{
    list-style: none;
}

.sub-div1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-border{
    padding:0 10%;
    border-left: 2px solid black;
}

.time{
    color: black;
    margin-top: 30px;
}
.free{
    width: 96px;
}

.second-container,.third-container,.fourth-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-div2{
    display: flex;
    gap:15.8%;
}

.headn{
    width: 96px;
}
.free2{
    width: 96px;
}